 
body
  { background-color:Gainsboro;
    color:black;
    font-size:100%;
  }
 
a:link
  { text-decoration:underline;
    color:blue;
  }
a:visited
  { text-decoration:underline;
    color:navy;
  }
a:hover, a:active
  { text-decoration:underline;
    color:blue;
  }
 
a.none:link, a.none:visited, a.none:hover, a.none:active
  { text-decoration:inherit;
    color:inherit;
  }
 
span.emph
  { font-weight:bold;
    font-style:italic;
  }
 
.off
  { display:none;
  }
 
span.term
  { font-style:italic;
    font-weight:bold;
  }
 
span.file
  { font-weight:bold;
  }
 
span.rdsvar
  {  
  }
 
span.keys
  { font-weight:bold;
    color:green;
    background-color:white;
     
    font-size: 95%;
    border: 1px solid black;
     
    padding:0em 0.2em 0em    0.2em;
    border-radius:6px;
     
     
  }
 
span.menu
  { color:inherit;
    font-weight:bold;
  }
 
img.formula
  { display:inline;
     
    margin: 0.5em  0em   0.5em 0em;
    padding:0px;
    vertical-align:middle;
  }
 
img.btn
  { display:inline;
    margin:0px;
    padding:0px;
    vertical-align:middle;
  }
 
img.right
  {  
    margin: 0.1em 0em   0.1em  0.5em;
    padding:0px;
    float:right;
     
  }
 
img.left
  {  
    margin: 0.1em 0.5em   0.1em  0em;
    padding:0px;
    float:left;
     
  }
 

 
 
div.text
  { width:100%;
    margin:0px;
    padding:0px;
    border-style:none;
    clear:both;
  }
 
div.text p
  {  
    padding:0em 0px   0px    0em;
    margin: 0em 0px   0px    0em;
    text-align:justify;
    text-indent: 2em;
  }
 
div.text p.noindent
  {  
    text-indent: 0em;
  }
 
div.text p.clear
  { clear:both;
  }
 
div.text p.center
  {  
    text-indent: 0em;
    text-align:center;
     
    margin: 0.2em 0em   0.2em  0em;
  }
 
div.text h1  
  { text-align:left;
    font-size:200%;
    font-weight:bold;
    padding: 0px;
     
    margin: 0.2em 0px   0.3em    0em;
  }
div.text h2  
  { text-align:left;
    font-size:150%;
    font-weight:bold;
    padding: 0px;
     
    margin: 0.3em 0px   0.4em    0em;
  }
div.text h3, div.text h4, div.text h5, div.text h6  
  { text-align:left;
    font-size:120%;
    font-weight:bold;
    padding: 0px;
     
    margin: 0.4em 0px   0.5em    0em;
  }
 
div.text p.abstract
  { font-size:85%;  
     
    padding:0em   0px   1.2em    0em;
    text-indent: 2em;
     
  }
 
div.text ul
  { padding-top: 0px;
    padding-bottom: 0px;
     
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type:disc;
    text-align:justify;
  }
div.text ul.noindent
  { padding-left: 1em;
  }
 
div.text ol
  { padding-top: 0px;
    padding-bottom: 0px;
     
    margin-top: 0px;
    margin-bottom: 0px;
    text-align:justify;
  }
 
div.text p.apphdr
  { text-align:left;
    font-size:110%;
    font-weight:bold;
    padding: 0px;
     
    margin: 0.4em 0px   0.5em  0em;
    text-indent: 0em;
  }
 
div.text p.seealso
  { text-align:left;
    padding: 0px;
     
    margin: 0em 0em   0em  2em;
    text-indent: 0em;
  }
 
div.text dl
  {  
    padding:0em   0em   0em    0em;
    margin: 0.3em 0em   0em    0em;
  }
div.text dt
  {  
    padding:0em   0em   0em    0em;
    margin: 0em   0em   0em    0em;
  }
div.text dd
  {  
    padding:0em   0em   0em    0em;
    margin: 0em   0em   0.3em  2em;
    text-align:justify;
  }
 

 
 
div.text div.tablecenter
  {  
    padding:0px;
    margin:0px;
    text-align:center;
    clear:both;
  }
 
div.text div.tableleft
  {  
    padding:0px;
    margin:0px;
    text-align:left;
    clear:both;
  }
 
div.text div.tableshift
  {  
    padding:0px;
    margin: 0px   0px   0px    2em;
    text-align:left;
    clear:both;
  }
div.text div.tcont  
  {  
    padding:0px;
    margin: 0.2em 0em   0.2em  0em;
    display:inline-block;
  }
div.text table
  { border-collapse:collapse;
    border: 1px solid black;
     
    margin: 0em;
     
  }
div.text th
  { text-align:center;
    border: 1px solid black;
    font-weight:bold;
    font-style:italic;
     
    padding:2px   0.5em 2px    0.5em;
    margin: 0em;
    vertical-align:middle;
  }
div.text td
  { text-align:left;
    border: 1px solid black;
     
    padding:2px   0.5em 2px    0.5em;
    margin: 0em;
    vertical-align:top;
  }
div.text td.center
  { text-align:center;
    vertical-align:middle;
  }
div.text td.right
  { text-align:right;
    vertical-align:middle;
  }
div.text td.vcenter
  { vertical-align:middle;
  }
div.text td.just
  { text-align:justify;
  }
 
div.text table.list
  { border-style:none;
    margin: 0em;
  }
div.text table.list td
  { text-align:left;
    border-style: none;
     
    padding:0.2em   0.5em 0.2em    0.5em;
    margin: 0em;
    vertical-align:top;
    text-align:justify;
  }
div.text table.list td.term
  { text-align:left;
    border-style: none;
     
    padding:0.2em   0.5em 0.2em    0em;
    margin: 0em;
    vertical-align:top;
    text-align:left;
  }
 
div.text table.listcompact
  { border-style:none;
    margin: 0em;
  }
div.text table.listcompact td
  { text-align:left;
    border-style: none;
     
    padding:0em   0.5em 0em    0.5em;
    margin: 0em;
    vertical-align:top;
    text-align:justify;
  }
div.text table.listcompact td.term
  { text-align:left;
    border-style: none;
     
    padding:0em   0.5em 0em    0em;
    margin: 0em;
    vertical-align:top;
    text-align:left;
  }
 


 
div.pic  
  {  
     
    padding:0px;
    margin:0px;
    text-align:center;
    clear:both;
     
  }
div.pic div.container  
  {  
    padding:0.5em; 
    margin: 0.5em;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    text-align:center;
    overflow-x:auto;
    display:inline-block;
    vertical-align:text-top;
  }
div.pic p  
  {  
    margin: 0.4em   0.3em 0px    0.3em;
    padding:0em; 
 
    text-indent: 0em;
    text-align:center;
  }
div.pic img
  { vertical-align:text-top;
  }
 

 
div.picright  
  {  
    padding:0em; 
    margin: 0.1em  0em   0.1em 0.5em;
     
    text-align:center;
    overflow-x:auto;
    float:right;
    clear:right;
     
  }
div.picright div.container  
  {  
    padding:0px;
    margin: 0px;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    padding:0.5em; 
    margin: 0.5em;
  }
div.picright p  
  {  
    margin: 0.3em   0.3em 0px    0.3em;
    padding:0em; 
    text-indent: 0em;
    text-align:center;
  }
div.picright img
  { vertical-align:text-top;
  }
 

 
div.picleft  
  {  
    padding:0em; 
    margin: 0.1em  0em   0.1em 0.5em;
     
    text-align:center;
    overflow-x:auto;
    float:left;
    clear:left;
     
  }
div.picleft div.container  
  {  
    padding:0px;
    margin: 0px;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    padding:0.5em; 
    margin: 0.5em;
  }
div.picleft p  
  {  
    margin: 0.3em   0.3em 0px    0.3em;
    padding:0em; 
    text-indent: 0em;
    text-align:center;
  }
div.picleft img
  { vertical-align:text-top;
  }
 

 
div.multi  
  { vertical-align:text-top;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    padding:0.5em; 
    margin: 0.5em;
    display:inline-block;
  }
 
 


 
div.pageheader
  { width:100%;
    margin:0px;
    border-style:none none solid none;
    border-width:1px;
    border-color:Gainsboro;
     
    padding:5px  0px 5px 0px;
    background-color:darkgray;
    font-weight:bold;
     
    color:black;
  }
div.pageheader div.int  
  {  
    padding:0px  0.5em 0px 0.5em;
  }
 
div.pageheader p
  {  
    margin:0px;
    padding:0px;
     
  }
 
div.pageheader div.level {padding-left:1em;}
 

 
div.topnav
  { width:100%;
     
     
    margin:0px;
    border-style:none none solid none;
    border-width:1px;
    border-color:Gainsboro;
     
    padding:5px  0px 0px 0px;
    background-color:darkgray;
    font-weight:bold;
    color:black;
     
    clear:both;
  }
div.bottomnav div.left, div.topnav div.left  
  {  
    padding:0px  0em 0px 0.5em;
    display:inline-block;
    border-style:none;
     
  }
div.bottomnav div.right, div.topnav div.right  
  {  
    padding:0px  0.5em 0px 0em;
    display:inline-block;
    border-style:none;
    white-space:nowrap;
  }
 
div.bottomnav span.button, div.topnav span.button
  { border-style:solid;
    border-width:1px;
    border-color:lightgray;
    padding:0px;
    margin:0px 0px 0.2em 0px;
    min-width:3em;
    text-align:center;
    display:inline-block;
    font-weight:bold;
    border-radius:10px;
    vertical-align:bottom;
    background-color:darkgray;
  }
 
div.topnav span.button a:link, div.topnav span.button a:visited, div.bottomnav span.button a:link, div.bottomnav span.button a:visited
  { display:block;
    color:black;
    text-decoration:none;
    border-radius:10px;
    padding:0.2em 1em 0.2em 1em;
    background-color:darkgray;
  }
div.topnav span.button a:hover, div.topnav span.button a:active, div.bottomnav span.button a:hover, div.bottomnav span.button a:active
  { background-color:gray;
    color:white;
  }
 
div.topnav span.disbutton, div.bottomnav span.disbutton
  { border-style:solid;
    border-width:1px;
    border-color:lightgray;
    color:lightgray;
     
    padding:0.2em 1em 0.2em 1em;
    margin:0px 0px 0.2em 0px;
     
    text-align:center;
    display:inline-block;
    font-weight:bold;
    border-radius:10px;
    vertical-align:bottom;
    background-color:darkgray;
  }
 
div.topnav span.tab
  { border-style:solid solid none solid;
    border-width:1px;
    border-color:lightgray;
    margin:0px;
    padding:0px;
    text-align:center;
    display:inline-block;
    font-weight:bold;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    vertical-align:bottom;
    background-color:darkgray;
}
 
div.topnav span.tab a:link, div.topnav span.tab a:visited
  { display:block;
    color:black;
    padding:0.2em;
    min-width:5em;
    min-height:1.5em;
    text-decoration:none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:darkgray;
}
div.topnav span.tab a:hover, div.topnav span.tab a:active
  { background-color:gray;
    color:white;
  }
 
div.topnav span.curtab
  { background-color:Gainsboro;
    border-style:solid solid none solid;
    border-width:1px;
    border-color:lightgray;
    margin:0px;
    padding:0.2em;
    min-width:5em;
    min-height:1.5em;
    text-align:center;
    display:inline-block;
    font-weight:bold;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    vertical-align:bottom;
}
 
div.topnav span.divider, div.bottomnav span.divider
  { border-style:none;
    padding:0px;
    margin:0px;
    min-width:0.3em;
    display:inline-block;
    font-weight:bold;
    vertical-align:bottom;
  }
 

 
div.bottomnav
  { width:100%;
     
    margin: 0em   0px   0.5em  0px;
    border-style:none;
    border-style:none;
     
    padding:5px  0px 0px 0px;
    background-color:darkgray;
    font-weight:bold;
    color:black;
     
    clear:both;
}
div.bottomnav p
  { padding: 0px;
    margin: 0px;
  }
 

 
 
div.alpaletters
  { width:100%;
    margin:0px;
    padding:0px;
    border-style:none;
    text-align:center;
  }
 
div.alpaletters p
  { margin:0px;
    padding:0px;
    text-align:center;
    border-style:none;
    color:gray;
     
  }
 
div.alpaletters a:visited
  { text-decoration:underline;
    color:blue;
  }
 
div.alphaindex
  { width:100%;
    margin:0px;
    padding:0px;
    border-style:none;
  }
 
div.alphaindex div.term, div.alphaindex div.term1
  {  
    float:left;
     
    margin:0px;
     
    padding:0px 0px   0.5em  0px;
     
  }
div.alphaindex div.term1:after
  { content:" ...";
  }
 
div.alphaindex div.term2
  {  
    float:left;
     
    margin:0px;
     
    padding:0px 0px   0.5em  1em;
     
  }
div.alpaletters h2  
  { text-align:left;
    font-size:150%;
    font-weight:bold;
    padding: 0px;
     
    margin: 0.2em 0px 0.2em  0em;
  }
 
 
div.alphaindex div.links
  { float:right;
    text-align:right;
    margin:0px;
     
    padding:0px 0px   0.5em  0px;
     
  }
div.alphaindex hr
  { clear:both;
     
     
  }
 
div.alphaindex div.links span.section
  { font-weight:bold;
  }
 
div.alphaindex div.links span.important
  { font-weight:bold;
  }
 

 
 
div.toc
  { width:100%;
    margin:0px;
    padding:0px;
    border-style:none;
  }
 
div.toc div.level
  {  
    padding:0em 0px   0px    1.5em;
     
  }
div.toc p
  {  
    margin:0px;
    padding:0.5em 0px 0px 0px;
    border-style:none;
    font-size:120%;
  }
 
div.toc p.abstract
  { font-size:80%;
     
    padding:0.2em 0px   0px    0em;
  }
 

 
div.entry  
  { padding:0px;
    margin:0px;
    text-align:center;
    width:100%;
  }
div.entry div.container  
  {  
    padding:1.5em; 
    margin: 0.5em;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    text-align:left;
    display:inline-block;
  }
div.entry h1  
  { text-align:left;
    font-size:200%;
    font-weight:bold;
    padding: 0px;
     
    margin: 0.2em 0px   0.3em    0em;
  }
div.entry h2  
  { text-align:left;
    font-size:150%;
    font-weight:bold;
    padding: 0px;
     
    margin: 0.3em 0px   0.4em    0em;
    padding-left:2em;
  }
div.entry div.notes  
  { font-size:80%;
    padding:0.5em;
    margin: 0.5em;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    text-align:center;
    display:inline-block;
}
 

span.errormsg
  { background-color:Red;
    color:Yellow;
    font-weight:bold;
  }
